<?xml version="1.0"?>
<launch>
    <include file="$(find odom_convert)/launch/odom_to_tf.launch" />
    <include file="$(find kitti_publisher)/launch/oxford_publisher_left.launch">
        <arg name="rate" value="1" />
    </include>
    <node pkg="rviz" type="rviz" name="lamide_rviz" args="-d <path to code>/src/lamide/rviz/MCL-D2D-Error-baseline.rviz" />
    <node pkg="tf" type="static_transform_publisher" name="m2w_broadcaster" args="0 0 0 0 0 0 1 world map 100" />
    <include file="$(find graph_localization)/launch/oxford_loc.launch"  />
</launch>