<?xml version="1.0"?>
<launch>
    <!-- ICRA maps
    FS1LU - OM
    UYMSB - cluster
    -->
    <!--
    d1 maps ITSC
    SC9W8 OM
    O3UXM Semi
    7QBT0 Static
    -->
    <include file="$(find dynamic_filter)/launch/dynamic_filter.launch" />
    <include file="$(find graph_localization_lamide)/launch/oxford_loc.launch" >
        <arg name="localisation_type_name" value="ndt_mcl" />
        <arg name="map_path" value="<path to maps>/experiment2/" />
        <arg name="map_file" value="d1_om_FS1LU_ndt_map.MAP" />
        <arg name="log_prefix" value="log-wait/d1_om_d4_semi" />
        <arg name="only_static" value="false" />
        <arg name="request_scans" value="true" />
        <arg name="scan_service" value="/oxford_publisher/publish" />
        <arg name="input_cloud_topic" value="/velodyne_points_left_static" />
        <arg name="sensor_pose_x" default="0.0" />
        <arg name="sensor_pose_y" default="0.0" />
        <arg name="sensor_pose_z" default="0.0" />
        <arg name="sensor_pose_r" default="0.0" />
        <arg name="sensor_pose_p" default="0.0" />
        <arg name="sensor_pose_t" default="0.0" />
    </include>
</launch>